@charset "utf-8";
/* CSS Document */

/*全局声明部分*/

*
{
    margin: 0;
    padding: 0;
    font-family: Segoe UI, '黑体', 'Microsoft YaHei', monospace;
}

a {  text-decoration: none;  }
a:hover {  text-decoration: underline;  }

li
{
    list-style: none;
}

.clr::before,
.clr::after
{
    content: "";
    display: block;
    clear: both;
    width: 0;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}

.center
{
    width: 1200px;
    min-width: 1200px;
    margin: 0 auto;
}

.full
{
    width: 100%;
    min-width: 1200px;
}

/*页面样式部分*/

/*header*/

header
{
    width: 100%;
    height: 50px;
    background-color: rgba(0, 0, 0, .5);
    /* -webkit-box-shadow: 0 0 10px #fff;
    -moz-box-shadow: 0 0 10px #fff;
    box-shadow: 0 0 10px #fff; */
    z-index: 100;
    position: fixed;
    top: 0;
}

header .greet
{
    float: left;
    width: 300px;
    height: 50px;
    line-height: 50px;
    color: #fff;
    margin-left: 20px;
    font-size: 20px;
}

header .greet a
{
    color: #fff;
    text-decoration: none;
}

header nav
{
    float: left;
}

header nav .nav_li
{
    float: left;
    line-height: 50px;
}

header nav .nav_li a
{
    display: block;
    padding: 0 20px;
    color: #fff;
    font-size: 20px;
}

#weather
{
    float: right;
    width: 400px;
    height: 50px;
    line-height: 50px;
    color: #fff;
    position: relative;
    font-size: 17px;
}

#weather_info
{
    color: #fff;
}

header .weather_question
{
    display: inline-block;
    height: 50px;
    font-size: 12px;
    color: #fff;
    position: relative;
}

header #weather .question_info
{
    display: none;
    width: 310px;
    height: auto;
    line-height: 2em;
    padding: 20px;
    background: rgba(0, 0, 0, .5);
    color: #fff;
    font-size: 16px;
    position: absolute;
    top: 100%;
    right: 0;
    cursor: text;
}

header #weather .question_info .close
{
    display: block;
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    text-decoration: none;
    position: absolute;
    right: 5px;
    bottom: 5px;
    color: #fff;
    transition: transform .3s ease;
}

header #weather .question_info .close:hover
{
    transform: rotate(180deg);
    transition: transform .3s ease;
}

/*header end*/


/* header mini */

@media only screen and (max-width: 640px)
{
    .full,
    .main,
    .center
    {
        width: 100%;
        min-width: 0;
    }

    header
    {
        height: auto;
    }

    #weather
    {
        position: static;
        width: 90%;
        height: auto;
        padding: 0 5%;
        line-height: 50px;
    }
}


/* header mini end */


/*footer*/

footer
{
    height: 40px;
    line-height: 40px;
    position: fixed;
    bottom: 0;
    z-index: 100;
    background-color: rgba(0, 0, 0, .5);
}

footer .temp
{
    display: block;
    color: #fff;
    font-size: 14px;
    margin-left: 30px;
}

/*footer end*/