@charset "utf-8";
/* CSS Document */


/* main */
.main
{
    position: relative;
    margin-top: 100px;
}

.main .bg
{
    position: relative;
}

.main .bg .bg_img,
.main .bg .bg_words
{
    display: none;
}

.main .center
{
    width: 100%;
    min-width: 0;
}

/* main end */


#pc_bg
{
    display: none;
}
