@charset "utf-8";
/* CSS Document */

/*main*/

.main
{
	position: relative;
	margin-top: 50px;
}

.main .bg
{
	position: relative;
}

.main .bg .bg_img
{
	display: block;
	width: 100%;
}

.main .bg .bg_words
{
	width: 100%;
	position: absolute;
	bottom: 300px;
	text-align: center;
	font-size: 100px;
	color: #fff;
}

@media only screen and (max-width: 640px)
{
    .main
    {
        margin-top: 100px;
    }

    .main .bg .bg_img
    {
        display: none;
    }

    .main .bg .bg_words
    {
        position: static;
        padding-top: 2em;
        font-size: 30px;
        color: #01b1ff;
    }

    .main .center
    {
        width: 100%;
        min-width: 0;
    }


}

/*main end*/