@charset "utf-8";
/* CSS Document */


/* main */

.main
{
	position: relative;
	margin-top: 50px;
}

.main .bg
{
	position: relative;
}

.main .bg .bg_img
{
	display: block;
	width: 100%;
}

.main .bg .mobile_head
{
	display: none;
}

.main .bg .bg_words
{
	width: 100%;
	position: absolute;
	bottom: 300px;
	text-align: center;
	font-size: 100px;
	color: #fff;
}

/* main end */

#mobile_head
{
    display: none;
}