*
{
    padding: 0;
    margin: 0;
}

.clr::before,
.clr::after
{
    content: '';
    display: block;
    width: 0;
    clear: both;
    visibility: hidden;
}

.center,
.full
{
    width: 100%;
    min-width: 0;
}

header
{
    height: 60px;
    line-height: 60px;
}

header .greet
{
    display: none;
}

header .weather_question
{
    height: 20px;
    line-height: 20px;
    font-size: 18px;
    position: absolute;
    bottom: 5px;
    right: 0;
}

header #weather .question_info
{
    font-size: 30px;
}

#weather
{
    width: 80%;
    height: 60px;
    line-height: 60px;
    padding-left: 20%;
    font-size: 25px;
}

body
{
    background-image: url(../img/bg-easter-egg.jpg);
    background-color: #323A45;
    background-repeat: no-repeat;
    background-position: 0 -150%;
    background-size: cover;
}

.title
{
    width: 100%;
    height: 100%;
    perspective: 1000px;
    position: fixed;
    top: 0;
    z-index: 10;
}

.title .icon-fanhui
{
    display: none;
    position: absolute;
    top: 50%;
    left: 10%;
    margin-top: -40px;
    color: #fff;
    font-size: 80px;
}

.title .icon-fanhui:hover
{
    text-decoration: none;
    color: #333;
}

.title .title_list
{
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.title .title_list .tab_li
{
    list-style: none;
    width: 100%;
    height: 25%;
    vertical-align: middle;
    text-align: center;
    font-size: 70px;
    color: #fff;
    overflow: hidden;
    animation: none;
    box-shadow: 0 1px 30px 3px #222;
    /* 使用flex属性实现垂直居中 */
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: bottom;
}

.title .title_list .tab_li a,
.title .title_list .tab_li .li_icon
{
    display: inline-block;
    font-size: 50px;
}

.title .title_list .tab_li .li_icon
{
    margin-left: 50px;
    margin-top: 10px;
}

.title .title_list .tab_li a
{
    color: #fff;
    text-decoration: none;
}

.title .title_list .tab_li1 {  background-color: #EF476F;  }
.title .title_list .tab_li2 {  background-color: #FFD166;  }
.title .title_list .tab_li3 {  background-color: #06D6A0;  }
.title .title_list .tab_li4 {  background-color: #00DAE5;  }

.content
{
    margin-top: 200px;
}

.content .content_lists .content_li
{
    display: none;
    width: 100%;
    opacity: .9;
}

footer
{
    height: 60px;
    line-height: 60px;
    font-size: 30px;
}

footer .temp
{
    font-size: 30px;
}