@charset "utf-8";
/* CSS Document */

/* 方块目录手机排版 */
.style-block
{
    width: 100%;
    padding: 100px 0;
}

.style-block .s_title
{
    height: 50px;
    line-height: 50px;
    font-size: 50px;
    width: 80%;
    margin: 0 10% 7%;
    padding-left: 20px;
    border-left: 5px solid #00c9ff;
    color: #fff;
}

.style-block .s_lists .s_list
{
    float: left;
    display: block;
    width: 80%;
    margin: 0 10%;
    clear: both;
    background: #aef0ff;
    position: relative;
    margin-bottom: 60px;
}

.style-block .s_lists .s_list .s_list_cover
{
    display: block;
    width: 100%;
    overflow: hidden;
    background-size: 100% 100%;
    font-size: 40px;
}

.style-block .s_lists .s_list .s_list_cover .s_bg
{
    display: block;
    width: 100%;
}

.style-block .s_lists .s_list .s_name
{
    width: 100%;
    height: 200px;
    line-height: 100px;
    overflow: hidden;
    color: #fff;
    background: rgba(0, 0, 0, .7);
    position: absolute;
    bottom: 50px;
    transition: height .5s ease-in-out;
}

.style-block .s_lists .s_list .s_name p
{
    padding: 0 5%;
}

/* 方块目录手机排版 end */


/* 行级目录排版 */
.style-inline
{
    background-color: #fff;
}

.style-inline .s_title
{
    height: 30px;
    line-height: 30px;
    font-size: 30px;
    margin: 20px 0;
    padding-left: 20px;
    color: #fff;
    border-left: 5px solid #FF4643;
}

.style-inline .s_lists .s_list
{
    width: 100%;
    height: 70px;
    line-height: 70px;
    border-bottom: 1px solid #d2d2d2;
    background-color: #fff;
    margin: 50px 0;
}

.style-inline .s_lists .s_list:hover > .s_list_content
{
    color: #00DAE5;
    text-shadow: 0 3px 20px #00DAE5;
}

.style-inline .s_lists .s_list .s_list_content
{
    display: block;
    width: 100%;
    height: 100%;
    font-size: 18px;
    color: #000;
}

.style-inline .s_lists .s_list .s_list_content .s_classify
{
    display: block;
    float: left;
    width: 100px;
    padding: 0 20px;
    text-align: center;
}

.style-inline .s_lists .s_list .s_list_content .s_introduction
{
    display: block;
    float: left;
    margin-left: 20px;
}

.style-inline .s_lists .s_list:hover .s_list_content .s_classify,
.style-inline .s_lists .s_list:hover .s_list_content .s_introduction
{
    text-decoration: underline;
}

/* 行级目录排版 end */