@charset "utf-8";
/* CSS Document */

.center
{
    width: 1200px;
    margin: 0 auto;
}

.container
{
	position: relative;
	margin-top: 50px;
}

.container .head
{
	display: block;
	padding: 20px 0;
	font-size: 20px;
    padding-left: 20px;
    position: relative;
}

.container .head .slide_btn
{
    width: 150px;
    height: 40px;
    margin-right: 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background: #02c39a;
    color: #fff;
    font-size: 18px;
}

.container .head .sup_intro
{
    display: block;
    font-size: 14px;
    color: #aaa;
}

.container .weather_main
{
    display: none;
	position: absolute;
    overflow: hidden;
    background: #f6f6f6;
}

.city_sel
{
	float: left;
	height: 500px;
    margin-left: 20px;
}

.city_sel .sel_li
{
	width: 180px;
	height: 50px;
	line-height: 50px;
	padding-left: 20px;
	background: #cde9ee;
}

.city_sel .sel_li.active
{
    background-color: #3ac0ff;
    color: #fff;
}

.city_sel .sel_li .city_title
{
	display: block;
	width: 100%;
	height: 100%;
	font-size: 18px;
	cursor: pointer;
}

.city_list
{
	float: left;
	width: 980px;
	height: 500px;
	position: relative;
}

.city_list .sel_li_list
{
	display: none;
	width: 900px;
	height: 480px;
	padding: 10px 50px;
}

.city_list .sel_li_list .city_name
{
	float: left;
	width: 80px;
	height: 40px;
	line-height: 40px;
	padding: 0 15px;
	background: #ddd;
	margin: 0 8px;
	margin-bottom: 20px;
    border-radius: 3px;
	font-size: 18px;
	text-align: center;
	cursor: pointer;
    color: #333;
}

.city_list .sel_li_list .city_name.active
{
    background: #01b1ff;
    color: #fff;
}

#sel_li10_list
{
    display: block;
}

#selected_city
{
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
	font-size: 20px;
}

#city_weather
{
    padding-left: 20px;
	font-size: 20px;
}
/**/
@media only screen and (min-width: 780px) and (max-width: 1200px) {
    .center
    {
        width: 90%;
    }

    .container .weather_main
    {
        width: 100%;
        height: auto;
    }

    .city_sel
    {
        width: 100%;
        height: auto;
        float: none;
        margin-left: 0;
    }

    .city_sel .sel_li
    {
        width: 18%;
        height: 40px;
        line-height: 40px;
        margin: 10px 1%;
        float: left;
        padding-left: 0;
    }

    .city_sel .sel_li .city_title
    {
        font-size: 14px;
        text-align: center;
    }

    .city_list .sel_li_list
    {
        width: 100%;
        height: auto;
        padding: 0;
    }

    .city_list .sel_li_list .city_name
    {
        width: 10.5%;
        margin: 10px 1%;
        padding: 0;
        overflow: hidden;
    }

    .city_list
    {
        width: 100%;
        height: auto;
        float: none;
    }
}

@media only screen and (max-width: 780px) {
    .center
    {
        width: 90%;
    }

    .container .weather_main
    {
        width: 100%;
        height: auto;
    }

    .city_sel
    {
        width: 100%;
        height: auto;
        float: none;
        margin-left: 0;
    }

    .city_sel .sel_li
    {
        width: 18%;
        height: 40px;
        line-height: 40px;
        margin: 10px 1%;
        float: left;
        padding-left: 0;
    }

    .city_sel .sel_li .city_title
    {
        text-align: center;
        overflow: hidden;
    }

    .city_list .sel_li_list
    {
        width: 100%;
        height: 360px;
        padding: 0;
        overflow-y: scroll;
    }

    .city_list .sel_li_list .city_name
    {
        width: 23%;
        margin: 10px 1%;
        padding: 0;
        overflow: hidden;
    }

    .city_list
    {
        width: 100%;
        height: auto;
        float: none;
    }
}