@charset "utf-8";
/* CSS Document */


.container
{
	position: relative;
	margin-top: 50px;
}

.container .head
{
	display: block;
	padding: 20px 0;
	font-size: 20px;
    padding-left: 20px;
    position: relative;
}

.container .head .slide_btn
{
    width: 150px;
    height: 40px;
    margin-right: 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background: #02c39a;
    color: #fff;
    font-size: 18px;
}

.container .head .sup_intro
{
    font-size: 14px;
    color: #aaa;
}

.container .weather_main
{
	position: absolute;
    height: 0;
    overflow: hidden;
    background: #f6f6f6;
}

.city_sel
{
	float: left;
	height: 500px;
    margin-left: 20px;
}

.city_sel .sel_li
{
	width: 180px;
	height: 50px;
	line-height: 50px;
	padding-left: 20px;
	background: #cde9ee;
}

.city_sel .sel_li10
{
	background: #3ac0ff;
	color: #fff;
}

.city_sel .sel_li .city_title
{
	display: block;
	width: 100%;
	height: 100%;
	font-size: 18px;
	cursor: pointer;
}

.city_list
{
	float: left;
	width: 980px;
	height: 500px;
	position: relative;
}

.city_list .sel_li_list
{
	display: none;
	width: 900px;
	height: 480px;
	position: absolute;
	top: 0;
	left: 0;
	padding: 10px 50px;
}

.city_list .sel_li_list .city_name
{
	float: left;
	width: 80px;
	height: 40px;
	line-height: 40px;
	padding: 0 15px;
	background: #ddd;
	margin: 0 8px;
	margin-bottom: 20px;
    border-radius: 3px;
	font-size: 18px;
	text-align: center;
	cursor: pointer;
    color: #333;
}

#sel_li10_list
{
    display: block;
}

#selected_city
{
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
	font-size: 20px;
}

#city_weather
{
    padding-left: 20px;
	font-size: 20px;
}