@charset "utf-8";
/* CSS Document */

/*全局声明*/
*
{
	padding: 0;
	margin: 0;
	text-decoration: none;
	font-family: 'Microsoft YaHei', monospace;
}
a
{
	text-decoration: none !important;
}
a:hover
{
	text-decoration: underline !important;
}
li
{
	list-style: none;
}
/*font icon*/
@font-face
{font-family: 'iconfont';
	src: url('../font-icon/iconfont.eot'); /* IE9*/
	src: url('../font-icon/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('../font-icon/iconfont.woff') format('woff'), /* chrome、firefox */
	url('../font-icon/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
	url('../font-icon/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}
.icon-font
{
	font-family:"iconfont" !important;
	font-size:16px;font-style:normal;
	-webkit-font-smoothing: antialiased;
	-webkit-text-stroke-width: 0.2px;
	-moz-osx-font-smoothing: grayscale;
}
/*两端宽度自适应布局部分*/
body > .content
{
	width: 1280px;
	margin: 0 auto;
}
body > .content > .center
{
	width: 100%;
}
body > .content > .center,
footer
{
	min-width: 1280px;
}
/***************************************header***************************************/
.content
{
	height: 2600px;
}
header
{
	width: 100%;
}
/*上部内容*/
/*左侧信息*/
header .top
{
	width: 100%;
	height: 40px;
	font-size: 12px;
}
header .top .leftInfo
{
	height: 40px;
	line-height: 40px;
	float: left;
}
header .top .leftInfo a:first-of-type
{
	color: red;
}
header .top .leftInfo a:last-of-type
{
	color: black;
}
header .top .leftInfo a:last-of-type:hover
{
	color: red;
}
header .top .leftInfo > *
{
	margin-right: 15px;
}
header .top .leftInfo > *:last-child
{
	margin-right: 0;
}
/*右侧信息*/
header .top .rightInfo
{
	height: 40px;
	float: right;
}
header .top .rightInfo ul li
{
	float: left;
	padding: 0 15px 0 15px;
	margin-top: 14px;
	border-right: 1px solid #d7cecc;
	height: 12px;
	line-height: 12px;
	transition: color .3s;
}
header .top .rightInfo ul li:hover
{
	cursor: pointer;
	color: red;
	transition: color .3s;
}
header .top .rightInfo ul li i
{
	vertical-align: middle;
}
header .top .rightInfo ul li a
{
	display: inline-block;
	color: black;
	transition: color .3s;
}
header .top .rightInfo ul li a:hover
{
	color: red;
	transition: color .3s;
}
header .top .rightInfo ul li:last-of-type
{
	padding-right: 0;
	border-right: 0;
}
/*logo & 搜索框*/
header .header-main
{
	width: 100%;
	height: 60px;
	padding: 20px 0;
}
/*logo*/
header .header-main .logo
{
	float: left;
	height: 60px;
}
/*搜索框*/
header .header-main .right
{
	height: 60px;
	float: right;
}
header .header-main .right .search input
{
	display: block;
}
header .header-main .right .search > *
{
	float: left;
}
header .header-main .right .search .search-text
{
	width: 450px;
	height: 31px;
	border: 1px solid red;
}
header .header-main .right .search .search-button
{
	width: 70px;
	height: 33px;
	border: none;
	color: #fff;
	background: red;
	border-radius: 1px;
}
header .header-main .right .search .search-button:hover
{
	cursor: pointer;
}
header .header-main .right .search .shopping-cart
{
	margin-left: 30px;
	width: 130px;
	height: 33px;
	line-height: 33px;
	text-align: center;
	background: #ff9a02;
	color: #fff;
	border-radius: 1px;
}
header .header-main .right .search .shopping-cart:hover
{
	text-decoration: underline;
	cursor: pointer;
}
header .header-main .right .hot-search
{
	clear: both;
	font-size: 13px;
	padding: 5px 0 0 10px;
}
header .header-main .right .hot-search > *
{
	margin-right: 8px;
}
header .header-main .right .hot-search, header .header-main .right .hot-search a
{
	color: #666;
}
header .header-main .right .hot-search a:hover
{
	color: red;
}
/*列表*/
header > nav
{
	width: 100%;
	height: 44px;
	position: relative;
}
header > nav > div
{
	float: left;
}
header > nav .main-list
{
	width: 17%;
	height: 44px;
	line-height: 44px;
	text-align: center;
	color: #fff;
	background: red;
}
header > nav .list
{
	width: 83%;
	height: 44px;
	background: #414141;
}
header > nav .list ul li
{
	float: left;
	width: 130px;
	height: 44px;
}
header > nav .list ul li a
{
	display: block;
	width: 100%;
	height: 100%;
	line-height: 44px;
	text-align: center;
	color: #fff;
	transition: color .3s;
}
header > nav .list ul li a:hover
{
	color: red;
	transition: color .3s;
}
header > nav .app-download
{
	height: 44px;
	font-size: 13px;
	position: absolute;
	right: 30px;
}
header > nav .app-download:hover
{
	cursor: pointer;
}
header > nav .app-download img
{
	margin: 7px 5px 0 0;
}
header > nav .app-download span
{
	display: block;
	float: right;
	height: 44px;
	line-height: 44px;
	color: #fff;
	transition: color .3s;
}
header > nav .app-download span:hover
{
	color: red;
	text-decoration: underline;
	transition: color .3s;
}
/***************************************content***************************************/
.main
{
	width: 100%;
}
.main .main-top
{
	width: 100%;
	height: 400px;
}
.main .main-top .main-top-list,
.main .main-top .main-top-image,
.main .main-top .main-top-right
{
	float: left;
}
.main .main-top .main-top-list
{
	width: 17%;
}
.main .main-top .main-top-list ul li
{
	height: 49px;
	width: 100%;
	position: relative;
}
.main .main-top .main-top-list ul li a
{
	display: block;
	width: 84%;
	height: 49px;
	line-height: 49px;
	padding-left: 15%;
	font-size: 14px;
	color: #000;
	border: 1px solid lightgray;
	border-left: 2px solid transparent;
	border-top: 0;
	transition: all .3s;
}
.main .main-top .main-top-list ul li:hover a
{
	color: red;
	border-left: 2px solid red;
	transition: all .3s;
}
.main .main-top .main-top-list ul li .right-arrow
{
	width: 50px;
	height: 50px;
	background: url(../img/arrowico1.png);
	background-position: 50% 0;
	position: absolute;
	right: 0;
	top: 0;
	transition: all .3s;
}
.main .main-top .main-top-list ul li:hover .right-arrow
{
	background-position: 50% 100%;
	transition: all .3s;
}
.main .main-top .main-top-image
{
	width: 60%;
	height: 400px;
	background: url(../img/main-image.jpg);
	background-size: 100% 100%;
}
.main .main-top .main-top-right
{
	width: 23%;
}
.main .main-top .main-top-right .top-date
{
	height: 50px;
	padding: 20px 0 20px 30px;
}
.main .main-top .main-top-right .top-date span
{
	display: block;
	float: left;
	height: 50px;
	width: 50px;
	text-align: center;
}
.main .main-top .main-top-right .top-date .data-span-left
{
	height: 31px;
	line-height: 16px;
	background: red;
	padding: 10px 0 10px 0;
	color: #fff;
}
.main .main-top .main-top-right .top-date .data-span-center
{
	width: 49px;
	height: 49px;
	line-height: 49px;
	border: 1px solid red;
	color: red;
	font-size: 28px;
}
.main .main-top .main-top-right .top-date .data-span-right
{
	padding-left: 10px;
	width: 80px;
	color: #666;
	text-align: left;
}
.main .main-top .main-top-right .top-date .data-span-right strong
{
	font-size: 20px;
}
.main .main-top .main-top-right .bottom-list
{
	padding-top: 20px;
	border-top: 1px solid lightgray;
}
.main .main-top .main-top-right .bottom-list ul li
{
	width: 90%;
	line-height: 40px;
	padding: 0 5% 0 5%;
	/*隐藏文字为...*/
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;

}
.main .main-top .main-top-right .bottom-list ul li:hover
{
	cursor: pointer;
}
.main .main-top .main-top-right .bottom-list ul li a
{
	font-size: 14px;
	color: #000;
}
.main .main-top .main-top-right .bottom-list ul li i
{
	display: block;
	float: left;
	width: 20px;
	height: 20px;
	line-height: 20px;
	font-size: 13px;
	font-style: normal;
	text-align: center;
	background: #939393;
	color: #fff;
	margin: 11px 5px 0 20px;
}
.main .main-top .main-top-right .bottom-list ul li:hover i
{
	background: red;
}
.main .main-top .main-top-right .bottom-list ul li:hover a
{
	color: red;
}
.main .main-activity
{
	width: 100%;
	height: 175px;
	padding: 30px 0 30px 0;
	clear: both;

}
.main .main-activity ul li
{
	float: left;
	width: 400px;
	height: 170px;
	margin-right: 40px;
	overflow: hidden;
}
.main .main-activity ul li:last-of-type
{
	margin-right: 0;
}
.main .main-activity ul li img
{
	transition: all 1s;
	width: 100%;
}
.main .main-activity ul li img:hover
{
	transform: scale(1.1);
	transition: all 1s;
}
.main .main-location
{
	width: 100%;
	height: 440px;
	padding: 8px 0 8px 0;
	position: relative;
}
.main .main-location .location-title
{
	margin-bottom: 30px;
}
.main .main-location .location-title .icon-font
{
	font-size: 28px;
	vertical-align: middle;
}
.main .main-location .location-title .icon-font:nth-of-type(2)
{
	font-size: 22px;
	transition: color .3s;
}
.main .main-location .location-title .icon-font:nth-of-type(2):hover
{
	color: red;
	cursor: pointer;
	transition: color .3s;
}
.main .main-location .location-title .service-div
{
	height: 36px;
	position: absolute;
	top: 0;
	right: 0;
}
.main .main-location .location-title .service-div .service
{
	display: inline-block;
	width: 100px;
	height: 36px;
	line-height: 36px;
	text-align: center;
	background: #ff9a02;
	color: #fff;
	border-radius: 1px;
}
.main .main-location .location-title .service-div .service:last-of-type
{
	background: #b8b8b8;
}
.main .main-location .location-content
{
	width: 100%;
	height: 400px;
}
.main .main-location .location-content > div
{
	float: left;
}
.main .main-location .location-content .location-left
{
	width: 15%;
	height: 375px;
	background: linear-gradient(#ff832d, #f0b02e);
	padding: 25px 0 0 2%;
	position: relative;
}
.main .main-location .location-content .location-left span
{
	color: #fff;
	font-size: 28px;
}
.main .main-location .location-content .location-left span strong
{
	font-size: 40px;
}
.main .main-location .location-content .location-left span:hover
{
	cursor: default;
}
.main .main-location .location-content .location-left .location-name
{
	line-height: 40px;
	text-align: center;
	font-size: 20px;
	color: #ff832d;
	position: absolute;
	top: 150px;
	right: 0;
}
.main .main-location .location-content .location-left .location-name:hover
{
	cursor: pointer;
}
.main .main-location .location-content .location-left .location-name:first-of-type
{
	width: 130px;
	height: 40px;
	background: #fff;
}
.main .main-location .location-content .location-left .location-name:last-of-type
{
	width: 129px;
	height: 39px;
	top: 200px;
	color: #fff;
	border: 1px solid #fff;
	border-right: 0;
}

.main .main-location .location-content .location-list
{
	width: 82.9%;
	height: 400px;
	border: 1px solid lightgray;
	border-left: 0;

}
.main .main-location .location-content .location-list ul li
{
	float: left;
	width: 30%;
	line-height: 1.8em;
	height: 170px;
	padding: 15px 1.5% 15px 1.5%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.main .main-location .location-content .location-list ul li .icon-font
{
	font-size: 28px;
	color: #f29202;
	vertical-align: middle;
}
.main .main-location .location-content .location-list ul li .icon-font:hover
{
	cursor: pointer;
}
.main .main-location .location-content .location-list ul li strong a
{
	color: #f29202;
	transition: color .3s;
	font-size: 18px;
}
.main .main-location .location-content .location-list ul li strong:hover a
{
	color: red;
	transition: color .3s;
}
.main .main-location .location-content .location-list ul li span
{
	font-size: 13px;
	color: #333;
}
.main .main-app-info
{
	width: 100%;
	height: 140px;
	background: url(../img/index-cxban.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	margin: 30px 0 30px 0;
}
.main .main-product
{
	width: 100%;
	height: 550px;
}
.main .main-product .product-title
{
	width: 100%;
	height: 34px;
	border-bottom: 1px solid #a8a8a8;
}
.main .main-product .product-title strong
{
	font-size: 26px;
}
.main .main-product .product-title .title-list
{
	height: 50px;
	float: right;
	margin-right: 1px;
}
.main .main-product .product-title .title-list ul li
{
	float: left;
	width: 100px;
	height: 33px;
	line-height: 32px;
}
.main .main-product .product-title .title-list ul li a
{
	display: block;
	width: 100%;
	height: 32px;
	text-align: center;
	color: #000;
	border-left: 1px solid #a8a8a8;
	border-top: 2px solid #a8a8a8;
	border-bottom: 2px solid #a8a8a8;
}
.main .main-product .product-title .title-list ul li:last-of-type a
{
	border-right: 1px solid #a8a8a8;
}
.main .main-product .product-title .title-list ul li a:hover
{
	height: 33px;
	color: red;
	border-top: 2px solid red;
	border-bottom: 0;
}
.main .main-product .product-list
{
	margin-top: 20px;
	width: 100%;
	height: 480px;
}
.main .main-product .product-list ul li
{
	float: left;
	width: 24.89%;
	height: 200px;
	padding: 20px 0 20px 0;
	position: relative;
	border: 1px solid lightgray;

}
.main .main-product .product-list ul li:nth-of-type(1),
.main .main-product .product-list ul li:nth-of-type(2),
.main .main-product .product-list ul li:nth-of-type(3),
.main .main-product .product-list ul li:nth-of-type(5),
.main .main-product .product-list ul li:nth-of-type(6),
.main .main-product .product-list ul li:nth-of-type(7)
{
	border-right: 0;
}
.main .main-product .product-list ul li:nth-of-type(1),
.main .main-product .product-list ul li:nth-of-type(2),
.main .main-product .product-list ul li:nth-of-type(3),
.main .main-product .product-list ul li:nth-of-type(4)
{
	border-bottom: 0;
}
.main .main-product .product-list ul li:hover
{
	cursor: pointer;
	text-decoration: underline;
}
.main .main-product .product-list ul li .product-introduction
{
	width: 90%;
	padding-left: 10%;
}
.main .main-product .product-list ul li .product-introduction > *
{
	display: block;
}
.main .main-product .product-list ul li .product-introduction strong
{
	font-size: 18px;
}
.main .main-product .product-list ul li .product-introduction span:first-of-type
{
	color: #999;
	margin-top: 5px;
}
.main .main-product .product-list ul li .product-introduction span:last-of-type
{
	color: red;
	margin-top: 10px;
	font-size: 18px;
}
.main .main-product .product-list ul li .product-introduction img
{
	height: 110px;
	position: absolute;
	right: 15px;
	bottom: 25px;
	transition: right .5s;
}
.main .main-product .product-list ul li:hover .product-introduction img
{
	right: 25px;
	transition: right .5s;
}
.main .main-car-about
{
	width: 100%;
	height: 450px;
	margin-top: 30px;
	clear: both;
}
.main .main-car-about .car-title
{
	width: 100%;
	height: 50px;
	font-size: 26px;
	font-weight: bolder;
}
.main .main-car-about .car-content
{
	width: 100%;
	height: 450px;
}
.main .main-car-about .car-content > div
{
	float: right;
	width: 27%;
	height: 400px;
	margin-left: 2%;
	position: relative;
}
.main .main-car-about .car-content .car-skill
{
	width: 40%;
}
.main .main-car-about .car-content .car-content-title
{
	width: 100%;
	height: 30px;
	line-height: 30px;
	border-bottom: 1px solid lightgray;
}
.main .main-car-about .car-content .car-content-title a:first-of-type
{
	color: red;
}
.main .main-car-about .car-content .car-content-title a:last-of-type
{
	color: #888;
	position: absolute;
	right: 0;
}
.main .main-car-about .car-content .skill-content ul li
{
	height: 120px;
	margin-top: 15px;
}
.main .main-car-about .car-content .skill-content ul li > *
{
	display: block;
	float: left;
}
.main .main-car-about .car-content .skill-content ul li img
{
	display: block;
	width: 215px;
	height: 120px;
}
.main .main-car-about .car-content .skill-content ul li a
{
	font-size: 14px;
	font-weight: bolder;
	margin-top: 10px;
	margin-left: 20px;
	color: #000;
	transition: color .3s;
}
.main .main-car-about .car-content .skill-content ul li:hover
{
	cursor: pointer;
}
.main .main-car-about .car-content .skill-content ul li:hover a
{
	color: red;
	transition: color .3s;
	text-decoration: none !important;
}
.main .main-car-about .car-content .car-experience .experience-content ul li
{
	width: 100%;
	height: 41px;
	line-height: 41px;
}
.main .main-car-about .car-content .car-experience .experience-content ul li:first-of-type
{
	margin-top: 20px;
}
.main .main-car-about .car-content .car-experience .experience-content ul li a
{
	display: block;
	width: 97%;
	height: 100%;
	padding-left: 3%;
	line-height: 41px;
	color: #333;
	font-size: 14px;
	border-bottom: 1px solid lightgray;
	transition: all .3s;
}
.main .main-car-about .car-content .car-experience .experience-content ul li a span
{
	margin-right: 7px;
}
.main .main-car-about .car-content .car-experience .experience-content ul li a:hover
{
	color: red;
	border-left: 2px solid red;
	transition: all .3s;
}
.main .main-car-about .car-content .car-fault .fault-content
{
	position: relative;
}
.main .main-car-about .car-content .car-fault .fault-content img
{
	width: 100%;
	height: 190px;
}
.main .main-car-about .car-content .car-fault .fault-content img:hover
{
	cursor: pointer;
}
.main .main-car-about .car-content .car-fault .fault-content .fault-info
{
	position: absolute;
	left: 30px;
	top: 155px;
	color: #fff;
	transition: color .3s;
}
.main .main-car-about .car-content .car-fault .fault-content .fault-info:hover
{
	color: red;
	transition: color .3s;
}
.main .main-car-about .car-content .car-fault .fault-content ul li
{
	list-style: disc;
	margin-left: 25px;
	margin-top: 11px;
}
.main .main-car-about .car-content .car-fault .fault-content ul li a
{
	color: #333;
	transition: color .3s;
}
.main .main-car-about .car-content .car-fault .fault-content ul li a:hover
{
	color: red;
	transition: color .3s;
}
/***************************************footer***************************************/
footer
{
	width: 100%;
	background: #3c3c3c;
}
footer .footer-top
{
	width: 80%;
	height: 84px;
	background: red;
	padding: 0 10%;
	box-shadow: 0 1px 1px #000;
	margin-bottom: 1px;
}
footer .footer-top ul li
{
	width: 25%;
	height: 84px;
	line-height: 84px;
	text-align: center;
	float: left;
	color: #fff;
	font-size: 18px;
}
footer .footer-top ul li .li-img
{
	position: relative;
	left: 0;
	display: inline-block;
	width: 54px;
	height: 54px;
	line-height: 50px;
	font-size: 32px;
	font-weight: bolder;
	border-radius: 100%;
	border: 3px solid #fff;
	text-align: center;
	vertical-align: middle;
	margin-right: 10px;
	transition: all .5s;
}
footer .footer-top ul li .li-img:hover
{
	cursor: default;
	left: -10px;
	transition: all .5s;
}
footer .footer-content
{
	width: 80%;
	padding: 0 6% 0 14%;
	height: 180px;
}
footer .footer-content .content-list,
footer .footer-content .content-aside,
footer .footer-content .content-placeholder
{
	float: left;
	border-bottom: 1px solid #595959;
}
footer .footer-content .content-placeholder
{
	width: 6%;
	height: 180px;
}
footer .footer-content .content-list
{
	width: 60%;
	height: 180px;
}
footer .footer-content .content-list a
{
	color: #d0d0d0;
	transition: color .3s;
}
footer .footer-content .content-list a:hover
{
	color: red;
	transition: color .3s;
}
footer .footer-content .content-list ul li
{
	float: left;
	/*width: 16.6%;*/
	width: 17.8%;
}
footer .footer-content .content-list ul li:last-of-type
{
	width: 11%;
}
footer .footer-content .content-list ul li dl dt
{
	padding: 30px 0 15px 0;
	font-size: 16px;
}
footer .footer-content .content-list ul li dl dd
{
	padding: 2px 0;
	font-size: 14px;
}
footer .footer-content .content-aside
{
	height: 180px;
}
footer .footer-content .content-aside .aside-info,
footer .footer-content .content-aside .aside-app
{
	float: left;
}
footer .footer-content .content-aside .aside-info
{
	text-align: right;
	margin-top: 50px;
}
footer .footer-content .content-aside .aside-info span
{
	color: #cecece;
	font-size: 13px;
}
footer .footer-content .content-aside .aside-info strong
{
	font-size: 30px;
	font-weight: 500;
	color: red;
}
footer .footer-content .content-aside .aside-app
{
	padding: 6px 6px 10px;
	background: #cecece;
	margin-top: 30px;
	margin-left: 20px;
	text-align: center;
	font-size: 12px;
}
footer .footer-content .content-aside .aside-app img
{
	margin-bottom: 3px;
}
footer .footer-bottom
{
	width: 100%;
	height: 60px;
	line-height: 60px;
	text-align: center;
	margin-top: 1px;
	color: #cecece;
	font-size: 12px;
}
footer .footer-bottom a
{
	color: #cecece;
}
.fixed-aside
{
	width: 50px;
	position: fixed;
	right: 20px;
	bottom: 130px;
	border: 1px solid lightgray;
	background: #fff;
}
.fixed-aside ul li
{
	padding: 10px 5px;
	font-size: 12px;
	text-align: center;
	border-top: 1px solid lightgray;
	color: #333;
	transition: background .3s;
}
.fixed-aside ul li:first-of-type
{
	border-top: 0;
}
.fixed-aside ul li:hover
{
	cursor: pointer;
}
.fixed-aside ul li:hover:not([class=last-li-img])
{
	background: red;
	transition: background .3s;
}
.fixed-aside ul li:hover span
{
	text-decoration: underline !important;
	color: #fff;
}
.fixed-aside ul li .icon-font
{
	font-size: 30px;
	color: #c8c8c8;
}