.clr::before,
.clr::after
{
    content: '';
    display: block;
    width: 0;
    height: 0;
    clear: both;
    visibility: hidden;
}

#mainPanel
{
    position: relative;
}

#mainPanel .typePanel .receiverInfo
{
    cursor: pointer;
}

.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th
{
    vertical-align: middle;
}

.typePanel
{
    padding: 20px 0 0;
}

#searchDropdown
{
    margin-bottom: 20px;
}

#searchDropdown > .col-md-4
{
    /* 使下拉列表按照父元素定位，否则会出现滚动条 */
    position: static;
}

#searchDropdown ul.dropdown-menu
{
    top: 135px;
    left: 12%;
}

#sendMsgSet
{
    width: 355px;
    height: 100%;
    position: fixed;
    right: -355px;
    top: 0;
    background-color: #fff;
    border: 1px solid #ddd;
}

#sendMsgSet > div.panel
{
    margin-bottom: 0;
    border-bottom: none;
}

#pagination
{
    background-color: #fff;
}

@media screen and (max-width: 991px)
{
    #searchDropdown ul.dropdown-menu
    {
        top: 135px;
        left: 40%;
    }
}