#_musicPlayer
{
    width: 300px;
    background: rgba(0, 0, 0, .7);
    color: #ddd;
    position: relative;
    padding-top: 10px;
    padding-bottom: 20px;
}

#_musicPlayer .iconfont
{
    cursor: pointer;
}

#_musicName
{
    display: block;
    width: 100%;
    height: 20px;
    line-height: 20px;
    font-size: 18px;
    padding: 3px 0;
    text-align: center;
    color: #fff;
}

#_musicCtrl ._time
{
    width: 95%;
    height: 14px;
    line-height: 14px;
    text-align: right;
    margin-right: 5%;
}

#_progress
{
    display: block;
    width: 90%;
    height: 3px;
    margin: 15px auto;
    background: #757575;
    cursor: pointer;
    position: relative;
}

#_progressBar
{
    width: 20px;
    height: 7px;
    background: #fff;
    margin-left: -10px;
    position: absolute;
    left: 0;
    top: -2px;
}

#_progressLine
{
    width: 0;
    height: 3px;
    background: #fff;
    position: absolute;
    left: 0;
}

#_musicPlayer .ctrlGroup
{
    height: 40px;
    margin-top: 15px;
    position: relative;
}

#_prev,
#_play,
#_pause,
#_next
{
    position: absolute;
    display: block;
    top: 50%;
    width: 10px;
    height: 10px;
    margin-top: -5px;
    margin-left: -5px;
}

#_prev
{
    left: 20%;
}

#_play
{
    left: 51%;
    font-size: 30px;
    margin-top: -15px;
    margin-left: -12px;
}

#_pause
{
    display: none;
    left: 47%;
    top: 20%;
    font-size: 30px;
}

#_next
{
    right: 20%;
}

#_musicLists
{
    width: 100%;
    height: 128px;
    background: rgba(56, 56, 56, 0.7);
    position: absolute;
    top: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
}

#_musicLists::-webkit-scrollbar
{
    /* 滚动条主体 */
    width: 8px;
    background: rgba(56, 56, 56, 0.7);
}

#_musicLists::-webkit-scrollbar-button
{
    /* 滚动条上下按钮 */
    display: none;
}

#_musicLists::-webkit-scrollbar-track
{
    /* 滚动条背景 */
    display: none;
}

#_musicLists::-webkit-scrollbar-track-piece
{
    /* 滚动条中间位置 */
}

#_musicLists::-webkit-scrollbar-thumb
{
    /* 滚动条可以拖动的地方 */
    background: rgba(255, 255, 255, .5);
}

#_musicLists > ul
{
    padding: 0;
    margin: 0;
}

#_musicLists ._musicLi
{
    width: 100%;
    height: 100%;
    list-style: none;
    border-bottom: 1px solid #ddd;
}

#_musicLists ._musicLi:last-child
{
    border-bottom: none;
}

#_musicLists ._musicLi a
{
    display: block;
    width: 90%;
    color: #fff;
    padding: 5px 5%;
    text-decoration: none;
}

#_musicLists .active a
{
    color: #000;
    text-shadow: 0 0 15px #fff;
}