@charset "utf-8";
/* CSS Document */

*
{
    margin: 0;
    padding: 0;
    font-family: Segoe UI, '黑体', 'Microsoft YaHei', monospace;
}

#myCanvas
{
    display: block;
    background: #cefff5;
    background: radial-gradient(at 50% 100%, #cefff5, #aafffa);
}

#changeColor
{
    padding: 5px 10px;
    position: absolute;
    bottom: 50px;
    left: 50px;
    border: none;
    box-shadow: 0 5px 5px #757575;
    color: #fff;
    background: rgba(0, 0, 0, .3);
}

#color,
#colorOK,
#randomColor
{
    font-size: 16px;
}

#colorOK:hover
{
    cursor: pointer;
}

#randomColor
{
    width: 100%;
    margin-top: 10px;
}

#randomColor:hover
{
    cursor: pointer;
}
