<div class="table-responsive typePanel" ng-controller="employeeSendMsg">
    <table class="table table-bordered table-hover text-center" >
        <tr>
            <td>选择</td>
            <td>工号</td>
            <td>收信人</td>
            <td>邮件</td>
            <td>手机</td>
        </tr>

        <tr class="receiverInfo" ng-repeat="data in employeeData | limitTo: pageDataSum" on-finish-render-filters value="{{data.num}}" ng-click="addDataToAside($event, data.num)">
            <td><input class="selectReceiver" type="checkbox"></td>
            <td>{{data.num}}</td>
            <td>{{data.name}}</td>
            <td>{{data.email}}</td>
            <td>{{data.phone}}</td>
        </tr>
    </table>

    <aside id="sendMsgSet">
        <div class="panel panel-default text-center" style="">
            <div class="panel-heading">
                收件人<span class="badge" id="receiverNum">0</span>
            </div>
        </div>

        <div class="receiverList">
            <table class="table table-hover text-center">
                <tr>
                    <td>操作</td>
                    <td>姓名</td>
                    <td>工号</td>
                </tr>

                <tr ng-repeat="data in selectData">
                    <td><button class="btn btn-danger btn-sm" type="button" ng-click="deleteDataFromAside(data.num)">删除</button></td>
                    <td>{{data.name}}</td>
                    <td>{{data.num}}</td>
                </tr>
            </table>
        </div>
    </aside>
</div>